@using WebApplication2.Models;
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using System.Data
@using System.Data.SqlClient
@model WebApplication2.Models.EditViewModel
@{
    ViewBag.Title = "Your Account";
}

<h2>@ViewBag.Title.</h2>
@functions{
    public string GetUserData(string data)
    {
        var currentUserId = User.Identity.GetUserId();
        var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
        var currentUser = manager.FindById(User.Identity.GetUserId());
        if (data == "name") { 
            if (currentUser.FirstName == null && currentUser.LastName == null) return "undefined";
            string res = currentUser.FirstName + "  " + currentUser.LastName;
            return res;
        }
        if (data == "email")
        {
            if (currentUser.EMail == null) return "undefined";
            string res = currentUser.EMail;
            return res;
        }
        if(data=="city")
        {
            if (currentUser.City == null) return "undefined";
            string res = currentUser.City;
            return res;
        }
        if (data == "age")
        {
            if (currentUser.Age == null) return "undefined";
            string res = currentUser.Age;
            return res;
        }
        return "error";
    }
}
<div class="row">
    <div class="col-md-4">
        <h3 style="display:inline">@Html.Label("Hi " + User.Identity.GetUserName() + "!")   </h3>@Html.ActionLink("Chage Password", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Change Password",@class="btn btn-default" })
            <center><h2>Personal info</h2></center>
            <table class="table table-striped table-hover ">
                <tbody>
                    <tr>
                        <td>User Name</td>
                        <td>@Html.Label(User.Identity.GetUserName())</td>
                    </tr>
                    <tr>
                        <td>E-Mail</td>
                        <td>@Html.Label(GetUserData("email"))</td>
                    </tr>
                    <tr>
                        <td>Real Name</td>
                        <td>@Html.Label(GetUserData("name"))</td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td>@Html.Label(GetUserData("city"))</td>
                    </tr>
                    <tr>
                        <td>Age</td>
                        <td>@Html.Label(GetUserData("age"))</td>
                    </tr>
                </tbody>
            </table>
    </div>
    <div class="col-md-8">
        <center><h1>Repositories</h1></center>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td><center>Name</center></td>
                    <td><center>Tags</center></td>
                    <td><center>Last Update Time</center></td>
                    <td><center>Delete</center></td>
                    <td><center>Edit</center></td>

                </tr>
            </thead>
            <tbody>
                @{  string connStr = @"Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-WebApplication2-20160108044733.mdf;Initial Catalog=aspnet-WebApplication2-20160108044733;Integrated Security=True";
                    SqlConnection conn = new SqlConnection(connStr);
                    conn.Open();
                    string query = "SELECT * FROM Repositories WHERE Owner='" + User.Identity.GetUserId()+"';";
                    SqlCommand cmd = new SqlCommand(query, conn);
                    SqlDataReader dr = cmd.ExecuteReader(CommandBehavior.CloseConnection);
                }
                @while (dr.Read())
                {
                   <tr class="info">
                       <td><center><h5><b>@dr.GetValue(1).ToString().Trim() </b></h5></center></td>
                       <td><center><h5><b>@dr.GetValue(5).ToString().Trim() </b></h5></center></td>
                       <td><center><h5><b>@dr.GetValue(6).ToString().Trim() </b></h5></center></td>
                       <td style="table-layout: auto;width:10%; "> @Html.ActionLink("Delete", "Delete", "Repository", routeValues: new { id = dr.GetValue(0) }, htmlAttributes: new { title = "Delete Repository", @class = "btn btn-danger" })</td>
                       <td style="table-layout: auto;width:10%; "> @Html.ActionLink("Edit", "Edit", "Repository", routeValues: new { id = dr.GetValue(0) }, htmlAttributes: new { title = "Delete Repository", @class = "btn btn-info" })</td>
                   </tr> 
                }
                @{
                    conn.Close();
                    conn.Dispose();
                }
                    
            </tbody>
        </table>
        <center>@Html.ActionLink("Create Repository", "Create", "Repository", routeValues: null, htmlAttributes: new { title = "New Repository",@class="btn btn-default" })</center>

    </div>
</div>
     
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}