@using System.Data
@using System.Data.SqlClient
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using WebApplication2.Models;

@model WebApplication2.Models.RepoEditModel
@{
    ViewBag.Title = "Repository Manager";
}

<h2>@ViewBag.Title</h2>
@{  
    bool flag = false;
    int id = ViewBag.repoId;
    string connStr = @"Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-WebApplication2-20160108044733.mdf;Initial Catalog=aspnet-WebApplication2-20160108044733;Integrated Security=True";
    SqlConnection conn = new SqlConnection(connStr);
    conn.Open();
    string query = "SELECT * FROM Repositories WHERE Id='" + id + "';";
    SqlCommand cmd = new SqlCommand(query, conn);
    SqlDataReader dr = cmd.ExecuteReader();
    dr.Read();
    string owner = dr.GetValue(2).ToString();
}
<div class="row">
    <div class="col-md-4">
        @Html.ValidationSummary()
        <h3 style="display:inline">@Html.Label("Welcome to " + @dr.GetValue(1).ToString() + "!")   </h3>
        @{
            string repoName=@dr.GetValue(1).ToString();
            query = "SELECT * FROM AspNetUsers WHERE Id='" + dr.GetValue(2) + "';";
            cmd = new SqlCommand(query, conn);
            dr.Close();
            dr = cmd.ExecuteReader();         
            dr.Read();
        }
        <h2>Owner: @Html.Label(dr.GetValue(1).ToString())</h2>
        @if(owner==User.Identity.GetUserId()){
            flag=true;
        }
        @if (flag)
        {
            @Html.ActionLink("Delete", "Delete", "Repository", routeValues: new { id = dr.GetValue(0) }, htmlAttributes: new { title = "Delete Repository", @class = "btn btn-default" })
        }
        <center><h2>Users</h2></center>
        @{ 
            query = "SELECT * FROM Connection WHERE Repos='" + id + "';";
            cmd = new SqlCommand(query, conn);
            dr.Close();
            dr = cmd.ExecuteReader();
            var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
            
        }
        <table class="table table-striped table-hover ">
            <tbody>
                @while (dr.Read())
                {
                    <tr class="default">
                        @{if (!flag && User.Identity.GetUserId() == dr.GetValue(0).ToString().Trim())
                          {
                              flag = true;
                          }
                        }
                        @{var currentUser = manager.FindById(dr.GetValue(0).ToString().Trim());}

                        <td><center><h5><b>@currentUser.UserName </b></h5></center></td>                       
                    </tr>
                }
            </tbody>
        </table>
        @if (flag)
        {
        <center><h4>Add user</h4></center>
        using (Html.BeginForm("AddUser", "Repository", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <center>@Html.TextBoxFor(m => m.NewUser, htmlAttributes: new { @class = "form-control", placeholder = "Enter username" })</center>
            @Html.TextBoxFor(m => m.Repo, htmlAttributes: new { style="display:none",@Value=@id})

            <center><input type="submit" name="Submit" id="Submit" value="Add User" class="btn btn-default" /></center>
        }
        using (Html.BeginForm("DeleteUser", "Repository", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <center>
            @Html.TextBoxFor(m => m.NewUser, htmlAttributes: new { @class = "form-control", placeholder = "Enter username" })</center>
            @Html.TextBoxFor(m => m.Repo, htmlAttributes: new { style="display:none",@Value=@id})

            <center><input type="submit" name="Submit" id="Submit" value="Delete" class="btn btn-default" /></center>
        }
        
        }

    </div>
    <div class="col-md-8">
        <center><h1>Files</h1></center>
        @{
            query = "SELECT * FROM Files WHERE Repo='" + id + "';";
            cmd = new SqlCommand(query, conn);
            dr.Close();
            dr = cmd.ExecuteReader();
        }
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <td><center>Name</center></td>
                    <td><center>Last Update by</center></td>
                    <td><center>Last Update Time</center></td>
                    <td><center>Type</center></td>
                    <td><center>Download</center></td>
                    <td><center>Edit</center></td>
                    <td><center>Delete</center></td>
                   

                </tr>
            </thead>
            <tbody>
               
                @while (dr.Read())
                {
                    <tr class="info">
                        <td><center><h5><b>@dr.GetValue(1).ToString().Trim() </b></h5></center></td>
                        <td><center><h5><b>@dr.GetValue(6).ToString().Trim() </b></h5></center></td>
                        <td><center><h5><b>@dr.GetValue(4).ToString().Trim() </b></h5></center></td>
                        <td><center><h5><b>@dr.GetValue(5).ToString().Trim() </b></h5></center></td>
                        @if(flag){
                            <td style="table-layout: auto;width:10%; "> @Html.ActionLink("Download", "DownloadFile", "Repository", routeValues: new { fileId = dr.GetValue(0).ToString()}, htmlAttributes: new { title = "Download File", @class = "btn btn-info" })</td>
                            <td style="table-layout: auto;width:10%; "> <a href="#" class=" btn btn-info">Edit</a></td>
                            <td style="table-layout: auto;width:10%; "> @Html.ActionLink("Delete", "DeleteFile", "Repository", routeValues: new { fileName = dr.GetValue(1).ToString(),repoId=id, repoOwner = owner }, htmlAttributes: new { title = "Delete File", @class = "btn btn-danger" })</td>
                        }
                    </tr>
                }
                @{
                    conn.Close();
                    conn.Dispose();
                }

            </tbody>
        </table>
        @if (flag) { 
            <center>
                @using (Html.BeginForm("Upload", "Repository", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.TextBoxFor(m => m.User, htmlAttributes: new { style="display:none",@Value=@User.Identity.GetUserId()})
                    @Html.TextBoxFor(m => m.Repo, htmlAttributes: new { style="display:none",@Value=@id})
                    
                    <input type="file" name="file" class="btn btn-default"/>
                    <input type="submit" name="Submit" id="Submit" value="Upload" class="btn btn-default" />
                }
            </center>
            
        }
        
    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function($) {
	    jQuery('a.popup').live('click', function(){
		    newwindow=window.open($(this).attr('href'),'','height=200,width=150');
		    if (window.focus) {newwindow.focus()}
		    return false;
	    });
    });
</script>